#!/bin/bash

alias ll="ls -alh"

# pretty print with syntax highlighting
alias c='pygmentize -O style=monokai,bg=dark -f console256 -g'

# list what apps are listening on what ports
alias applisten="lsof -P -i -n"

# use vim for less
alias vless="/opt/local/share/vim/vim74/macros/less.sh"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# pretty print json
alias json='python -m json.tool'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/id_ns_rsa.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

# Pipe my private key to my clipboard.
alias prikey="more ~/.ssh/id_ns_rsa | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"

# make mkdir create path of dirs by default
alias mkdir="mkdir -pv"

# search history with grep more easily
alias histgrep="history | grep"

# find out my public ip address
alias whatsmyip="curl http://ipecho.net/plain; echo"

# configure directory stack listing
alias dirs="dirs -vl"

# start a simple http server in current folder
alias server_here="python -m SimpleHTTPServer 8000"

# find all files in current dir/and subdirs modified in the last day
alias recently_modified="find . -type f -mtime -1 './.git/*'"

# generate phpctags for the current directory and its subdirs
# the function takes 2 args, the first is the name of the file the tags should be stored in
# the second is the directory to exclude
# todo: improve the way the function args list works for now its enough
createtags() {
  echo "Running: phpctags --memory=536870912 --exclude=$2 -f $1 -R"
  phpctags --memory=536870912 --exclude=$2 -f $1 -R
}
alias phptags=createtags
